<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iitbombay.clickr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />
    
    <!-- GLOBAL PERMISSIONS FOR THE ENTIRE APP -->

    <!-- IMEI/Phone num access -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- network access -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- cellular radio access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- wifi radio access -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name="clickr.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/logo_shadower"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="clickr.LoginPage"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity  android:name="clickr.HomePage"
            	   android:windowSoftInputMode="stateHidden"/>
        <activity  android:name="clickr.QuizPage"
            	   android:windowSoftInputMode="stateHidden"
            	   android:screenOrientation="portrait"/>
    </application>

</manifest>
